@media (max-width: 1024px) {
	.header {
		flex-wrap: wrap;
		row-gap: 10px;
		padding-top: 20px;
		padding-inline: 15px;
	}

	.header-menu {
		order: 1;
		flex-basis: 100%;
	}

	.header-menu-link {
		height: 50px;
	}
}

@media (max-width: 767px) {
	.button {
		padding-inline: 18px;
	}

	.header {
		padding-top: 10px;
	}

	.header-menu-list {
		column-gap: 24px;
	}

	.header-menu-link {
		height: 32px;
	}

	.header-actions {
		column-gap: 15px;
	}
}
